<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title - Lopez Auto Sales</title>
    <meta name="theme-color" content="#02bbee" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/dist/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179267166-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179267166-1');
    </script>
</head>

<body class="d-flex flex-column">
    <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-primary bg-gradient">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Lopez Auto Sales</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="mdi mdi-car"></i> Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="mdi mdi-information"></i> About</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/app"><i class="mdi mdi-clipboard"></i> App</a>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div role="main" class="container">
        @RenderBody()
    </div>
    <script src="~/dist/js/jquery.slim.min.js"></script>
    <script src="~/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
