<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - Lopez Auto Sales</title>
    <meta name="theme-color" content="#02bbee" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">Lopez Auto Sales</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="mdi mdi-car"></i> Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about"><i class="mdi mdi-information"></i> About</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/app"><i class="mdi mdi-clipboard"></i> App</a>
                        </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div role="main" class="container">
        @RenderBody()
    </div>
    <component type="typeof(Client.Shared.Footer)" render-mode="Static"/>
    <script src="~/lib/dist/js/jquery.slim.min.js"></script>
    <script src="~/lib/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
