<div class="row pt-4 text-center">
    <div class="col-6">
        <p>
            Buyer: <input class="signature ml-1" type="text" />
        </p>
        <p>Co-Buyer: <input class="signature ml-1" type="text" /></p>
    </div>
    <div class="col-6">
        <p>Dealer: @Dealership.Name</p>
        <p>By: <input class="signature text-center ml-1" type="text" /></p>
    </div>
</div>
