@page "/app/papers/view/{id:int}"
@inject AuthHttp auth
@attribute [Authorize(Roles = "Admin")]
@using LopezAutoSales.Client.Shared.Papers

@if (Sale == null)
{
    <p class="lead">Loading...</p>
}
else
{
    <Contract Sale="Sale" />
    <div id="page-break" />
    <TransferAgreement Sale="Sale" />
    <div id="page-break" />
    <Warranty Car="Sale.Car" Amount="Sale.Warranty" />
    @if (Sale.TotalDue() > 0)
    {
        <div id="page-break" />
        <PromissoryNote Sale="Sale" />
    }
}

@code {
    [Parameter]
    public int Id { get; set; }
    public Sale Sale { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sale = await auth.Client.GetFromJsonAsync<Sale>($"/api/sale/view/{Id}");
        await base.OnInitializedAsync();
    }
}
