@page "/app/papers/view/{id:int}"
@inject AuthHttp auth
@attribute [Authorize(Roles = "Admin")]
@using LopezAutoSales.Client.Shared.Papers

@if (sale is null)
{
    <p class="lead">Loading...</p>
}
else
{
    <Contract Sale="sale" />
    <div id="page-break" />
    <TransferAgreement Sale="sale" />
    <div id="page-break" />
    <Warranty Car="sale.Car" Amount="sale.Warranty" />
    @if (sale.TotalDue() > 0)
    {
        <div id="page-break" />
        <PromissoryNote Sale="sale" />
    }
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Sale sale;

    protected override async Task OnInitializedAsync()
    {
        sale = await auth.Client.GetFromJsonAsync<Sale>($"/api/sale/view/{Id}");
        await base.OnInitializedAsync();
    }
}
