@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link" href="authentication/profile"><i class="mdi mdi-account"></i> @context.User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <button class="nav-link" @onclick="BeginSignOut"><i class="mdi mdi-logout"></i> Log out</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="authentication/register"><i class="mdi mdi-account-plus"></i> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="authentication/login"><i class="mdi mdi-login"></i> Log in</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
