@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link" href="/authentication/profile"><i class="mdi mdi-account"></i> @context.User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <button class="btn nav-link" @onclick="BeginSignOut"><i class="mdi mdi-logout"></i> Logout</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="/authentication/register"><i class="mdi mdi-account-plus"></i> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/authentication/login"><i class="mdi mdi-login"></i> Login</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
