@inherits LayoutComponentBase

<NavMenu />
<main role="main" class="container">
    @Body
</main>
<footer class="mt-auto py-2">
    <hr />
    <div class="container text-center">
        <p class="my-0">Lopez Auto Sales</p>
        <p class="my-0"><a class="text-decoration-none" href="https://goo.gl/maps/YZoFvQTUptU8cASW8" target="_blank">515 Albert St</a></p>
        <p class="my-0">Emporia, KS, 66801</p>
        <p class="my-0"><a class="text-decoration-none" href="tel:16202086250">(620)208-6250</a></p>
        <p class="my-0"><a class="text-decoration-none" href="mailto:lopezauto@outlook.com">lopezauto@outlook.com</a></p>
    </div>
</footer>