@inherits LayoutComponentBase

<NavMenu />
<main role="main" class="container">
    @Body
</main>
<footer class="mt-auto">
    <hr />
    <address class="text-center">
        <strong>@Dealership.Name</strong><br />
        <a class="text-decoration-none text-dark" href="https://goo.gl/maps/YZoFvQTUptU8cASW8" target="_blank">
            @Dealership.Address.Street
        </a><br />
        @Dealership.Address.Area<br />
        <a class="text-decoration-none text-dark" href="tel:16202086250">(620)208-6250</a><br />
        <a class="text-decoration-none text-dark" href="mailto:lopezauto@outlook.com">lopezauto@outlook.com</a>
    </address>
</footer>