<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-gradient-primary">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/app">Lopez Auto Sales</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/app/inventory" Match="NavLinkMatch.Prefix"><i class="mdi mdi-car"></i> Inventory</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/app/payments" Match="NavLinkMatch.Prefix"><i class="mdi mdi-cash"></i> Payments</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/app/papers" Match="NavLinkMatch.Prefix"><i class="mdi mdi-file"></i> Papers</NavLink>
                </li>
                <LoginDisplay />
            </ul>
        </div>
    </div>
</nav>