<nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
        <i class="mdi mdi-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTop">
        <div class="navbar-brand">Lopez Auto Sales</div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><i class="mdi mdi-home"></i> Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/about" Match="NavLinkMatch.Prefix"><i class="mdi mdi-information-outline"></i> About</NavLink>
            </li>
        </ul>
        <div class="ml-auto">
            <LoginDisplay />
        </div>
    </div>
</nav>