@page "/about"

<h1 class="text-center">About Us</h1>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6253.232203458573!2d-96.20214562370916!3d38.40412456859883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b94e781bbffbe7%3A0xd3590d9ae4f13aac!2sLopez+Auto+Sales!5e0!3m2!1sen!2sus!4v1560835977693!5m2!1sen!2sus" allowfullscreen></iframe>
</div>
<br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Financing</h1>
        <p class="lead">We have in-house financing.</p>
        <hr />
        <dl>
            <dd>
                Put <strong>1/2 down</strong>.
            </dd>
            <dd>
                Pay <strong>$300/month</strong>.
            </dd>
        </dl>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Trade-in's</h1>
        <p class="lead">We also accept trade-in's.</p>
        <hr />
        <dl>
            <dd>
                We will only consider vehicles in good condition that run and drive.
            </dd>
            <dd>
                Your trade-in can also count towards your down payment.
            </dd>
        </dl>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Our Warranty</h1>
        <p class="lead">We give a standard warranty on all of our vehicles.</p>
        <hr />
        <dl>
            <dd>
                <strong>20%</strong> on engine and transmission for <strong>30 days or 1000 miles</strong>.
            </dd>
        </dl>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Buying a Vehicle</h1>
        <p class="lead">You'll need the following things:</p>
        <hr />
        <dl>
            <dd>
                A License
            </dd>
            <dd>
                Proof of Insurance
            </dd>
            <dd>
                A Down Payment
            </dd>
        </dl>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Test Drives</h1>
        <p class="lead">We allow test drives for a maximum of 30 minutes.</p>
        <hr />
        <dl>
            <dd>
                Bring a valid driver's license and drive the cars.
            </dd>
            <dd>
                We advise customers to take our vehicles to their own trusted mechanics.
            </dd>
        </dl>
    </div>
</div>
