@page "/app"

<h1 class="text-center">App Menu</h1>
<div class="list-group w-50 mx-auto">
    <a href="/" target="_blank" class="list-group-item list-group-item-action">Home Page</a>
    <a href="https://www.kdor.ks.gov/Apps/kcsc/login.aspx?ReturnUrl=%2fApps%2fKCSC%2fsecure%2fdefault.aspx" class="list-group-item list-group-item-action" target="_blank">Dealer Portal</a>
    <a href="https://ksrevenue.org/pdf/tr150.pdf" class="list-group-item list-group-item-action" target="_blank">
        Lien Release
    </a>
    <a href="https://ksrevenue.org/pdf/DMVAffidavitCorrection.pdf" class="list-group-item list-group-item-action" target="_blank">Affidavit of Correction</a>
    <a href="https://ksrevenue.org/dovforms.html" class="list-group-item list-group-item-action" target="_blank">DOV Papers</a>
    <a href="/app/report" class="list-group-item list-group-item-action">Sales Report</a>
</div>
