@page "/"
@inject HttpClient http

<h1 class="text-center">Inventory</h1>
@if (Cars == null || Cars.Count == 0)
{
    <p class="lead">There's currently no vehicles available.</p>
}
else
{
    <p class="lead">Click on the vehicles to see more information.</p>
    <div class="container">
        <div class="row text-center">
            @foreach (Car car in Cars)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <a href="/view/@car.VIN" class="btn btn-light">
                        <figure class="figure text-left">
                            <figcaption class="figure-caption">@car.Name</figcaption>
                            <figcaption class="figure-caption">$@car.ListPrice</figcaption>
                            <figcaption class="figure-caption">@car.MileageString</figcaption>
                            @if (car.Pictures.Any(x => x.IsThumbnail))
                            {
                                <img data-src="@car.Pictures.First(x => x.IsThumbnail).URL" height="200" width="200" class="figure-img img-fluid rounded" />
                            }
                        </figure>
                    </a>
                </div>
            }
        </div>
    </div>
}

@code {
    public List<Car> Cars { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Cars = await http.GetFromJsonAsync<List<Car>>("/api/inventory");
        await base.OnInitializedAsync();
    }
}