@page "/app/warranty/{id:int}"
@using LopezAutoSales.Client.Shared.Papers
@inject CarManager carManager
@inject HttpClient http
@inject IJSRuntime js

@if (car != null)
{
    <div class="text-end my-2 no-print">
        <button class="btn btn-secondary" @onclick="Print"><i class="mdi mdi-printer"></i> Print</button>
    </div>
    <Warranty Car="car" Amount="Dealership.Warranty" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Car car;

    protected override async Task OnInitializedAsync()
    {
        car = await carManager.GetCarAsync(http, Id);
        await base.OnInitializedAsync();
    }

    private async Task Print()
    {
        await js.InvokeVoidAsync("print");
    }
}
