.card-picture {
    max-width: 12.5rem;
}

.pointer {
    cursor: pointer;
}

.signature {
    border: 0;
    border-bottom: 1px solid #000;
}

#placeholder {
    height: 1.3em;
}

@media print {
    .no-print {
        display: none;
    }

    #page-break {
        page-break-before: always;
    }
}
