@page "/app/payments"
@attribute [Authorize(Roles = "Admin")]
@inject AuthHttp auth

<h1 class="text-center">Payments</h1>
@if (Accounts == null)
{
    <p class="lead">Loading...</p>
}
else if (Accounts.Count == 0)
{
    <p class="lead">There's currently no active accounts.</p>
}
else
{
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        Buyer(s)
                    </th>
                    <th>
                        Vehicle
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Account account in Accounts)
                {
                    <tr class="@(account.HasContractExpired() ? "table-danger" : string.Empty)">
                        <td>
                            @account.Sale.Buyers()
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="/app/payments/@account.Id">
                                @account.Sale.Car.Name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    public List<Account> Accounts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Accounts = await auth.Client.GetFromJsonAsync<List<Account>>("/api/account");
        await base.OnInitializedAsync();
    }
}
